<div >
    <div class="first-item">
        <div class="logo"><a ui-sref="home"><img src="images/logo.png"></a></div>
        <div class="form-wrap">
            <div class="container">
                <h2 >Введите SMS пароль:</h2>
                <div class="center flex-middle"  >
               
			<div class="sms">
				<input  ng-class="{'error':error}"
                                        ng-change="eraseErrors();onlyNumbers();"
					class="phone-input"
					type="text"
					name="sms-code" 
					maxlength="4" 
					data-ng-required="true"
					data-ng-model="password"
					placeholder="XXXX"
					autofocus
					required />
			</div>
			<div class="">
				<div>
					<button ng-click="checkSms()" class="btn-main btn-sms">Отправить</button>
				</div>
			</div>
                </div>
            </div>
        </div>
        <div class="blank-box">

        </div>
    </div>
</div>
