<div >
    <vid-bg style="width: 100vw;" resources="resources" poster="poster" full-screen="fullScreen" muted="muted" z-index="zIndex" play-info="playInfo" pause-play="pausePlay"></vid-bg>    
    <div class="first-item finish">
        <div class="logo"><a ui-sref="home"><img src="images/logo.png"></a></div>
        <div class="finish-wrap">
            <div class="container">
                <h2>МЫ УЖЕ СПЕШИМ УБРАТЬ У ВАС.</h2>
                <div class="right"  >
                    МЫ УЖЕ СПЕШИМ УБРАТЬ У ВАС.
                    В БЛИЖАЙШЕЕ ВРЕМЯ С ВАМИ СВЯЖЕТСЯ МЕНЕДЖЕР ДЛЯ УТОЧНЕНИЯ ДЕТАЛЕЙ.
                </div>
            </div>
        </div>
        <div class="blank-box">
            <h4>Copyright © 2016</h4>
        </div>
    </div>
</div>
